body{
    background-color: #72fcec;
    margin:0 ;
    height: 100%;
}
#logout{
    background-color: #fc79bf;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#output{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ca46eb;
    padding: 20px;
}
#send{
  font-size: 20px;
  background-color: #ff8787;
}
#logo{
  width: 50px;
  border: rosybrown;
}


  



  